{% extends 'base.html.twig' %}

{% block title %}Fiches pratiques{% endblock %}

{% block body %}
<div class="text-start mb-3">
<a href="{{ path('app_lumea') }}" class="btn btn-canard">
    ← Retour à l'accueil
</a>
</div>

 {# <a href="{{ path('app_fiche_connaitre_corp') }}" class="btn btn-canard">
                J'accède aux fiches pratiques
            </a> #}

<h1 class="mt-4 mb-3">Fiches pratiques</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    {% for topic in [
        {
           
            'title': "Connaitre son corps",
            'desc': "La puberté, les transformations du corps, les hormones et le désir sexuel... Contenu adapté pour un public à partir de 12 ans",
            'url': path('app_fiche_connaitre_corps')
        },
        {
            'title': "Gérer ses émotions et ses relations",
            'desc': "En famille, entre amis, à l’école, savoir s’affirmer... Contenu adapté pour un public à partir de 12 ans",
            'url': '#'
        },
        {
            'title': "S’informer sur les infections et les maladies",
            'desc': "Les IST, les maladies de la sphère sexuelle, se protéger et protéger les autres... Contenu réservé à un public de plus de 15 ans",
            'url': '#'
        },
        {
            'title': "Comprendre la contraception et la grossesse",
            'desc': "Choisir sa contraception, se préparer à accueillir un nouvel être... Contenu réservé à un public de plus de 15 ans",
            'url': '#'
        },
        {
            'title': "Lutter contre les violences et les discriminations",
            'desc': "Consentement, transphobie, réseaux sociaux, pornographie... Contenu réservé à un public de plus de 15 ans",
            'url': '#'
        },
        {
            'title': "Connaitre ses droits et faire face aux abus",
            'desc': "Ce que dit la loi, détecter les abus, demander de l’aide... Contenu réservé à un public de plus de 15 ans",
            'url': '#'
        }
    ] %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ asset('images/image.svg') }}" class="card-img-top" alt="{{ topic.title }}">
                <div class="card-body">
                   <h5 class="card-title">
                        <a href="{{ topic.url }}" class="text-decoration-none text-dark">
                            {{ topic.title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ topic.desc }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
